---
version: "2"
services:
  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: ganetimgr
      POSTGRES_PASSWORD: ganetimgr
    volumes:
      - "./ganetimgr/postgres:/var/lib/postgresql"
  memcached:
    image: memcached
  beanstalkd:
    image: ghcr.io/kubernetize/beanstalkd
  ganetimgr:
    image: rkojedzinszky/ganetimgr-docker
    ports:
      - "8080:8080"
    environment:
      ALLOWED_HOSTS: 'www.company.com'
      BRANDING_NAME: 'Company'
      BRANDING_URL: 'http://www.company.com/'
      NOVNC_PROXY: 'vnc-proxy.company.com:24999'
      NOVNC_PROXY_AUTH_USER: 'novnc-user'
      NOVNC_PROXY_AUTH_PASSWORD: 'novnc-pass'
    hostname: ganetimgr.company.com
